:root {
  --iris: #4D5AE5;
  --ocean: #404bbf;  
  --navy-blue: #2E2F42;
  --white: #FFFFFF;
  --slate: #434455;
  --green: #31D0AA;
  --light-slate: #838f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
}


.weblogo {}